.setting{
    background-color:rgb(210, 205, 205);
    padding-top: 33px; 
    width: 100vw;
    padding-left: 30%;
}
.componetSet{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    background-color:whitesmoke;
    border-radius: 9px;
    padding-left: 23px;
    width: 300px;
    padding-right: 23px;
}
.headSpecificSetting{
    color: rgb(89, 89, 213);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.inputFieldForSetting{
    width: 200px;
    height: 25px;
}